<!DOCTYPE html>
<html> 
    <head>
        <title> </title>
    </head>
    <style> 
      html, body{
        padding: 0;
        margin: 0;
        height: 100%;
      }

      .container{
        display: grid;
      }

      section{
         width: 100%;
         padding: auto;
      }

      .logo_branco{
        position: absolute;
        width: 70%;
        top: 9%;
        left: 18%;
        right: 15%;
      }
      
      .text-center{
        text-align: center;
        font-weight: bold;
      }
      .text-center_vend{
        text-align: center;
      }
      
      p{
        font-size: 4rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        color: #58595B;
        border-color: 10px solid #000;
        font-size: 20px;
      }

      .icones {
        text-align: center;
        display: flex;
        justify-content: center;
      }

      .icones a { 
        padding: 0px;
      }

      .icones a img{
       widows: 100%;
      }

      .footer{
        bottom: 0;
        width: 100%;
      }

      .dedo{
        text-align: center;
      }

    
      @media (min-width: 768px) {
        .curved-div ~ .footer{
          display: inline-flex;
        }

      } 

      @media print { 

      @page {
      size: auto;
      }
      
      html, body{
      padding: 0;
      margin: 0;
      height: 50%;
      /*size: 30%;*/
      /*size: A4 portrait; not */
      /*orientation: landscape; */
      }
      
      .container{
      display: grid;
      }
      
      section{
       width: 100%;
      }
      
      .logo_branco{
      position: absolute;
      width: 50%;
      top: 5%;
      left: 35%;
      right: 15%;
      }
      
      .text-center{
      text-align: center;
      font-weight: bold;
      }
      .text-center_vend{
      text-align: center;
      }
      
      p{
      font-size: 4rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 0;
      color: #58595B;
      border-color: 10px solid #000;
      font-size: 60px;
      }
      
      .icones {
      text-align: center;
      display: flex;
      justify-content: center;
      }
      
      .icones a { 
      padding: 0px;
      }
      
      .icones a img{
      widows: 100%;
      }
      
      .footer{
      /*position: absolute;*/
      bottom: 0;
      width: 100%;
      }
      
      .dedo{
      text-align: center;
      }
      
      }
      
      

    </style>
     
    <body> 
        <div class="container">  
          <div class="curved-div upper">
              <svg viewBox="0 0 1280 800">
                <path fill="#09337a" fill-opacity="1" d="M 1280 5 L 1280 654 C 615 697 345 758 2 246 L 1 1 c 21 0 21 0 1280 1">
                </path>
              </svg>
              <%= image_tag("pintos.png",class: 'img logo_branco')%>
            </div> 

            <section> 
               
               <%= form_for site_welcome_index_path do %> 

              <div class="form-group" > 
                <p class="text-center"> Informe os dados </p>
              </div>
              

              <div class="form-group">
                <label for="nome">Nome</label>
                <%= text_field_tag :name , '', class: 'form-control',id: 'nome' %> 
              </div>

              <div class="form-group">
                <label for="cargo">Cargo</label>
                <%= text_field_tag :cargo ,'', value: 'Vendedor', class: 'form-control', id: 'cargo' %> 
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <%= text_field_tag :email ,'', class: 'form-control', id: 'email' %> 
              </div>

              <div class="form-group">
                <label for="phone">Telefone</label>
                <%= text_field_tag :phone ,'', class: 'form-control', id: 'phone', :maxlength => '11' %> 
              </div>
              <p class="text-center">  
                <%= submit_tag "Gerar" ,class: 'btn btn-primary'%> 
              </p>

              <% end %>
     
            </section> 

            <div class="curved-div footer">
              <svg viewBox="0 0 1280 290">
                <path fill="#09337a" fill-opacity="1" d="M 1278 298 C 385 280 387 86 2 3 L 1 298 c 21 0 21 0 1280 1"></path>
              </svg>
              
            </div>
        </div>  

        <script> 
          


        </script>
    
    </body>

   

</html>